In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import json 
import requests
import timeit
from datetime import datetime

# Let's read our first Dataset energy_annual_generation

In [5]:
energy_annual_generation = pd.read_excel("C:/Users/simro/Desktop/Ev-projected-sale/Resources/annual_generation_state.xls", header=1).iloc[:, : 5]
energy_annual_generation.head()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,1990,AK,Total Electric Power Industry,Total,5599506.0
1,1990,AK,Total Electric Power Industry,Coal,510573.0
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,974521.0
3,1990,AK,Total Electric Power Industry,Natural Gas,3466261.0
4,1990,AK,Total Electric Power Industry,Petroleum,497116.0

In [6]:
energy_annual_generation['GENERATION (Megawatthours)'] = energy_annual_generation['GENERATION (Megawatthours)'].astype(str)

In [7]:
#let's find our dataset for NY STATE
energy_annual_generation_NY = energy_annual_generation[(energy_annual_generation['STATE'] == 'NY') & \
                         (energy_annual_generation['TYPE OF PRODUCER'] == 'Total Electric Power Industry')].reset_index(drop=True)

energy_annual_generation_NY['YEAR'] = [int(year) for year in energy_annual_generation_NY['YEAR']]
energy_annual_generation_NY['GENERATION (Megawatthours)'] = [int(num.replace('.', '')) for num in energy_annual_generation_NY['GENERATION (Megawatthours)']]

energy_annual_generation_NY.head()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,1990,NY,Total Electric Power Industry,Total,1353456920
1,1990,NY,Total Electric Power Industry,Coal,259130470
2,1990,NY,Total Electric Power Industry,Hydroelectric Conventional,281882220
3,1990,NY,Total Electric Power Industry,Natural Gas,227243350
4,1990,NY,Total Electric Power Industry,Nuclear,236233560

In [8]:
energy_proportion = []
curr_year, curr_total = 0, 0
for index, row in energy_annual_generation_NY.iterrows():
  if row[0] != curr_year:
    curr_year = row[0]
    curr_total = row[4]
    energy_proportion.append(1)
  else:
    energy_proportion.append(row[4] / curr_total)

energy_annual_generation_NY['Proportion of Energy in Year'] = energy_proportion

# Let's read our second Dataset Energy Sales annual

In [10]:
energy_sales_annual = pd.read_csv("C:/Users/simro/Desktop/Ev-projected-sale/Resources/energy_sales_annual.csv")

energy_sales_annual

    YEAR  Residential   Commercial   Industrial  Transportation        Total
0   2000  125047564.2  117544944.8  41264406.68     106291015.7  390147931.5
1   2001  126008837.3  118447603.7  41583854.15     107105753.3  393146048.5
2   2002  132673273.5  124713463.2  43781887.17     112773747.8  413942371.6
3   2003  133789874.2  125762657.6  44151156.72     113720367.4  417424056.0
4   2004  135483825.0  127356964.3  44710922.47     115162277.0  422713988.8
5   2005  142535115.0  133983301.2  47037906.76     121155580.4  444711903.3
6   2006  141729169.5  133224247.1  46771212.09     120469794.1  442194422.8
7   2007  145999215.0  137239320.7  48180883.94     124098014.0  455517433.7
8   2008  144782970.1  136096343.6  47779376.57     123066403.8  451725094.0
9   2009  143115395.7  134528413.3  47228402.96     121647939.8  446520151.8
10  2010  151605664.6  142508738.6  50030162.39     128863349.6  473007915.1
11  2011  149202481.8  140252091.3  49235939.79     126823574.9  465514087.9
12  2012  144141144.4  135492617.2  47565434.69     122518360.9  449717557.2
13  2013  146268840.4  137491361.9  48268805.26     124326609.4  456355616.9
14  2014  147567145.3  138713468.2  48696689.02     125431487.3  460408789.8
15  2015  147241836.4  138408674.3  48591183.43     125156000.5  459397694.6
16  2016  147971583.3  139094460.6  48831501.71     125777311.2  461674856.8
17  2017  144571958.9  135899985.9  47709039.51     122887630.4  451068614.8
18  2018  154058669.5  144815207.9  50839038.54     130950015.6  480662931.5
19  2019  151037106.7  141975349.2  49842596.90     128382713.0  471237765.9
20  2020  153586825.0  144372670.6  50683710.88     130548508.2  479191714.7
21  2021  154841169.2  145550816.3  51096941.08     131615286.9  483104213.5

In [11]:
# let's merge the 2 tables
NYS_Annual_Energy_Generation_and_Sales = energy_annual_generation_NY[energy_annual_generation_NY['ENERGY SOURCE'] == 'Total'] \
              .merge(right=energy_sales_annual, how='inner', left_on='YEAR', right_on='YEAR')

NYS_Annual_Energy_Generation_and_Sales.head()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours),Proportion of Energy in Year,Residential,Commercial,Industrial,Transportation,Total
0,2000,NY,Total Electric Power Industry,Total,1380790750,1.0,125047564.2,117544944.8,41264406.68,106291015.7,390147931.5
1,2001,NY,Total Electric Power Industry,Total,1439145590,1.0,126008837.3,118447603.7,41583854.15,107105753.3,393146048.5
2,2002,NY,Total Electric Power Industry,Total,1395916880,1.0,132673273.5,124713463.2,43781887.17,112773747.8,413942371.6
3,2003,NY,Total Electric Power Industry,Total,1376433160,1.0,133789874.2,125762657.6,44151156.72,113720367.4,417424056.0
4,2004,NY,Total Electric Power Industry,Total,1379647940,1.0,135483825.0,127356964.3,44710922.47,115162277.0,422713988.8

In [12]:
NYS_Annual_Energy_Generation_and_Sales['Energy Surplus'] = NYS_Annual_Energy_Generation_and_Sales['GENERATION (Megawatthours)'] - NYS_Annual_Energy_Generation_and_Sales['Total'] 
NYS_Annual_Energy_Generation_and_Sales.head()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours),Proportion of Energy in Year,Residential,Commercial,Industrial,Transportation,Total,Energy Surplus
0,2000,NY,Total Electric Power Industry,Total,1380790750,1.0,125047564.2,117544944.8,41264406.68,106291015.7,390147931.5,9.906428e+08
1,2001,NY,Total Electric Power Industry,Total,1439145590,1.0,126008837.3,118447603.7,41583854.15,107105753.3,393146048.5,1.046000e+09
2,2002,NY,Total Electric Power Industry,Total,1395916880,1.0,132673273.5,124713463.2,43781887.17,112773747.8,413942371.6,9.819745e+08
3,2003,NY,Total Electric Power Industry,Total,1376433160,1.0,133789874.2,125762657.6,44151156.72,113720367.4,417424056.0,9.590091e+08
4,2004,NY,Total Electric Power Industry,Total,1379647940,1.0,135483825.0,127356964.3,44710922.47,115162277.0,422713988.8,9.569340e+08

In [13]:
NYS_Annual_Energy_Generation_and_Sales

start_date = 2015
end_date = 2021
mask = (NYS_Annual_Energy_Generation_and_Sales['YEAR'] >= start_date) & (NYS_Annual_Energy_Generation_and_Sales['YEAR'] <= end_date)
NYS_Annual_Energy_Generation_and_Sales= NYS_Annual_Energy_Generation_and_Sales.loc[mask]
NYS_Annual_Energy_Generation_and_Sales

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours),Proportion of Energy in Year,Residential,Commercial,Industrial,Transportation,Total,Energy Surplus
15,2015,NY,Total Electric Power Industry,Total,1385816860,1.0,147241836.4,138408674.3,48591183.43,125156000.5,459397694.6,926419165.4
16,2016,NY,Total Electric Power Industry,Total,1343767150,1.0,147971583.3,139094460.6,48831501.71,125777311.2,461674856.8,882092293.2
17,2017,NY,Total Electric Power Industry,Total,1280253860,1.0,144571958.9,135899985.9,47709039.51,122887630.4,451068614.8,829185245.2
18,2018,NY,Total Electric Power Industry,Total,1325205010,1.0,154058669.5,144815207.9,50839038.54,130950015.6,480662931.5,844542078.5
19,2019,NY,Total Electric Power Industry,Total,1316032890,1.0,151037106.7,141975349.2,49842596.90,128382713.0,471237765.9,844795124.1
20,2020,NY,Total Electric Power Industry,Total,1294302710,1.0,153586825.0,144372670.6,50683710.88,130548508.2,479191714.7,815110995.3
21,2021,NY,Total Electric Power Industry,Total,1249449350,1.0,154841169.2,145550816.3,51096941.08,131615286.9,483104213.5,766345136.5

In [15]:
NYS_Annual_Energy_Generation_and_Sales.to_csv('C:/Users/simro/Desktop/Ev-projected-sale/Resources/NYS_Annual_Energy_Generation_and_Sales.csv')